= semantic_form_for @physical_rack, :html => {:class => 'well'} do |f|
  = f.inputs :index, :name
  = f.input :number_of_us, :label => 'Number of Us'
  = extra_attributes_fields @schema, @physical_rack
  = f.input :datacenter, :as => :select, :collection => Datacenter.all
  = f.buttons do
    = f.commit_button :button_html => {:class => 'btn btn-primary'}, :label => 'Save'
