= semantic_form_for @physical_rack, :html => {:class => 'well'} do |f|
  = f.inputs :index, :name
  = f.input :datacenter, :as => :select, :collection => Datacenter.all
  = f.buttons do
    = f.commit_button :button_html => {:class => 'btn btn-primary'}
