%h1 Listing Racks

%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Index
    %th Name
    %th Datacenter
    %th

  - @physical_racks.each do |physical_rack|
    %tr
      %td= link_to physical_rack.index, physical_rack
      %td= link_to physical_rack.name, physical_rack
      %td= link_to physical_rack.datacenter.name, physical_rack.datacenter unless physical_rack.datacenter.nil?
      %td
        = link_to physical_rack, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger' do
          %i.icon-trash.icon-white
          Delete

%br

= link_to 'New Physical rack', new_physical_rack_path, :class => 'btn btn-primary'
