%h1 Listing physical_racks

%table
  %tr
    %th Index
    %th Name
    %th Datacenter
    %th
    %th
    %th

  - @physical_racks.each do |physical_rack|
    %tr
      %td= physical_rack.index
      %td= physical_rack.name
      %td= link_to physical_rack.datacenter.name, physical_rack.datacenter
      %td= link_to 'Show', physical_rack
      %td= link_to 'Edit', edit_physical_rack_path(physical_rack)
      %td= link_to 'Destroy', physical_rack, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Physical rack', new_physical_rack_path
