%p#notice= notice

%p
  %b Index:
  = @physical_rack.index
%p
  %b Name:
  = best_in_place @physical_rack, :name
%p
  %b Datacenter:
  = best_in_place @physical_rack, :datacenter, :type => :select, :collection => Datacenter::list_options, :nil => 'Select Datacenter'
  = link_to '[link]', @physical_rack.datacenter unless @physical_rack.datacenter.nil?


%p
  %table.table.table-striped.table-bordered.table-condensed
    %tr
      %th Physical Host
      %th N
      %th U

    - @physical_rack.physical_hosts.each do |physical_host|
      %tr
        %td= link_to physical_host.name, physical_host
        %td= physical_host.n
        %td= physical_host.u




= link_to 'Racks', physical_racks_path, :class => 'btn'

= link_to 'New rack', new_physical_rack_path, :class => 'btn btn-primary'
