%p#notice= notice

%p
  %b Index:
  = @physical_rack.index
%p
  %b Name:
  = best_in_place @physical_rack, :name
%p
  %b Number of Us:
  = best_in_place @physical_rack, :number_of_us
%p
  %b Datacenter:
  = best_in_place @physical_rack, :datacenter, :type => :select, :collection => Datacenter::list_options, :nil => 'Select Datacenter', :display_as => :id unless @physical_rack.datacenter.nil?
  = link_to '[link]', @physical_rack.datacenter unless @physical_rack.datacenter.nil?

= show_extra_attributes(@schema, @physical_rack)

%p
  %table.table.table-striped.table-bordered.table-condensed
    %tr
      %th Outbrain Name
      %th Host Name
      %th N
      %th U

    - @physical_rack.physical_hosts.each do |physical_host|
      %tr
        %td= link_to physical_host.ob_name, physical_host unless physical_host.ob_name.nil?
        %td= link_to physical_host.name, physical_host
        %td= physical_host.n
        %td= physical_host.u
    = render 'add_host'

= link_to physical_racks_path, :class => 'btn' do
  %i.icon-th-list.icon-black
  All Racks
= link_to edit_physical_rack_path(@physical_rack), :class => 'btn btn-info' do
  %i.icon-edit.icon-white
  Edit Rack
= link_to new_physical_rack_path, :class => 'btn btn-primary' do
  %i.icon-plus.icon-white
  New Rack
