%p#notice= notice

%p
  %b Index:
  = @u.index
%p
  %b Rack:
  = link_to @u.physical_rack.index, @u.physical_rack unless @u.physical_rack.nil?
%p
  %b Hosts:
  %table
    %tr
      %th Name
    - @u.physical_hosts.each do |host|
      %tr
        %td= link_to host.name, host

= link_to 'Edit', edit_u_path(@u)
\|
= link_to 'Back', us_path
