= semantic_form_for @physical_host, :html => {:class => 'well'} do |f|
  /Child Hosts:
  /= f.semantic_fields_for :child_hosts do |child_hosts|
  /  = child_hosts.inputs :id
  /%input#physical_host_child_hosts_ids{:name => "physical_host[child_hosts_ids]"}
  = f.inputs :name, :ob_name, :u, :n, :model, :serial, :mac, :power_consumption, :make, :status
  = bootstrap_autocomplete_field @physical_host, :parent_host, :name, :id, 'Parent Host', autocomplete_physical_host_name_physical_hosts_path
  = f.input :physical_rack, :as => :select, :collection => PhysicalRack.all, :label => 'Rack'
  - unless @physical_host.new?
    %hr
    %b PDUs
    = f.semantic_fields_for :pdus do |pdu_form|
      = pdu_form.inputs :name, :voltage, :amps
    %a.btn{:href => add_pdu_path} Add Another PDU
    %hr
  = f.input :notes, :as => :text, :input_html => { :rows => 3, :cols => 20}
  = f.buttons do
    = f.commit_button :button_html => {:class => 'btn btn-primary'}, :label => 'Save'



