%h1 Physical Hosts

%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Name
    %th Outbrain Name
    %th Datacenter
    %th Rack
    %th N
    %th U
    %th Model
    %th Serial
    %th MAC
    %th Notes
    %th Power Consumtion
    %th Status
    %th Parent Host
    %th
    %th

  - @physical_hosts.each do |physical_host|
    %tr
      %td= best_in_place physical_host, :name
      %td= best_in_place physical_host, :ob_name
      %td= link_to physical_host.physical_rack.datacenter.name, physical_host.physical_rack.datacenter if physical_host.physical_rack and physical_host.physical_rack.datacenter
      %td= link_to "#{physical_host.physical_rack.index} (#{physical_host.physical_rack.name})", physical_host.physical_rack if physical_host.physical_rack
      %td= best_in_place physical_host, :n
      %td= best_in_place physical_host, :u
      %td= best_in_place physical_host, :model
      %td= best_in_place physical_host, :serial
      %td= best_in_place physical_host, :mac
      %td= best_in_place physical_host, :notes, :type => :textarea
      %td= best_in_place physical_host, :power_consumption
      %td= best_in_place physical_host, :status
      %td= link_to physical_host.parent_host.name, physical_host.parent_host unless physical_host.parent_host.nil?
      %td= link_to 'Show', physical_host
      %td
        = link_to physical_host, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger' do
          %i.icon-trash.icon-white
          Delete

= paginate @physical_hosts

= link_to new_physical_host_path, :class => 'btn btn-primary' do
  %i.icon-plus.icon-white
  New Host
