%h1 Listing physical_hosts

%table
  %tr
    %th Name
    %th Type
    %th Serial
    %th Pdu1
    %th Pdu2
    %th
    %th
    %th

  - @physical_hosts.each do |physical_host|
    %tr
      %td= physical_host.name
      %td= physical_host.type
      %td= physical_host.serial
      %td= physical_host.pdu1
      %td= physical_host.pdu2
      %td= link_to 'Show', physical_host
      %td= link_to 'Edit', edit_physical_host_path(physical_host)
      %td= link_to 'Destroy', physical_host, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Physical host', new_physical_host_path
