%p#notice= notice

%p
  %b Name:
  = @physical_host.name
%p
  %b N:
  = @physical_host.n
%p
  %b U:
  = @physical_host.u
%p
  %b Type:
  = @physical_host.type
%p
  %b Serial:
  = @physical_host.serial
%p
  %b PDU1:
  = @physical_host.pdu1
%p
  %b PDU2:
  = @physical_host.pdu2

= link_to 'Edit', edit_physical_host_path(@physical_host)
\|
= link_to 'Back', physical_hosts_path
