%p#notice= notice

%p
  %b Name:
  = best_in_place @physical_host, :name
%p
  %b Parent Host:
  = link_to @physical_host.parent_host.name, @physical_host.parent_host unless @physical_host.parent_host.nil?
%p
  %b Child Hosts:
  - @physical_host.child_hosts.each do |child|
    = link_to child.name, child
%p
  %b Outbrain Name:
  = best_in_place @physical_host, :ob_name
%p
  %b N:
  = best_in_place @physical_host, :n
%p
  %b U:
  = best_in_place @physical_host, :u
%p
  %b Model:
  = best_in_place @physical_host, :model
%p
  %b Make:
  = best_in_place @physical_host, :make
%p
  %b Serial:
  = best_in_place @physical_host, :serial
%p
  %b MAC:
  = best_in_place @physical_host, :mac
%p
  %b Geomerty:
  %span.copyable= @physical_host.geometry
%p
  %b Notes:
  = best_in_place @physical_host, :notes, :type => :textarea
%p
  %b Power Consumption
  = best_in_place @physical_host, :power_consumption
%p
  %b Status
  = best_in_place @physical_host, :status
%p
  %b Rack:
  - unless @physical_host.physical_rack.nil?
    = best_in_place @physical_host, :physical_rack_id, :type => :select, :collection => PhysicalRack::list_options, :nil => 'Select Rack', :display_as => :id
    = link_to '[link]', @physical_host.physical_rack
%p
  %b Glu Modules:
  - @physical_host.glu_modules.each do |glu_module|
    = link_to glu_module.name, GluPlugin::url_for_module(glu_module), {:class => "label popoverable #{glu_module.state_label_color}", :title => glu_module.name, 'data-content' => glu_module.details_str}
%p
  %b Chef:
  - if @physical_host.chef_info
    %pre
      = JSON.pretty_generate(@physical_host.chef_info.as_json)
%p
  %b Modifications:
  - @physical_host.audits.order_by({created_at: -1}).each do |audit|
    %table.table.table-condensed
      %tr
        %td= audit.created_at.strftime("%H:%M %m/%d/%Y")
        %td= audit.source
        %td.label= audit.action

= show_extra_attributes(@schema, @physical_host)

- @physical_host.pdus.each do |pdu|
  .pdu
    %p 
      %b PDU Name:
      = pdu.name
    %p 
      %b PDU Voltage:
      = pdu.voltage
    %p 
      %b PDU Amps:
      = pdu.amps

.clear
= link_to physical_hosts_path, :class => 'btn' do
  %i.icon-th-list.icon-black
  All Hosts
= link_to edit_physical_host_path(@physical_host), :class => 'btn btn-info' do
  %i.icon-edit.icon-white
  Edit Host
= link_to new_physical_host_path, :class => 'btn btn-primary' do
  %i.icon-plus.icon-white
  New Host
