%h1 Listing hosts

%table
  %tr
    %th Fqdn
    %th Dc
    %th Serial
    %th Make
    %th Mac
    %th Role
    %th
    %th
    %th

  -@hosts.each do |host|
    %tr
      %td= host.fqdn
      %td= host.dc
      %td= host.serial
      %td= host.make
      %td= host.mac
      %td= host.role
      %td= link_to 'Show', host
      %td= link_to 'Edit', edit_host_path(host)
      %td= link_to 'Destroy', host, confirm: 'Are you sure?', method: :delete


= link_to 'New Host', new_host_path
