<p id="notice"><%= notice %></p>

<p>
  <b>Fqdn:</b>
  <%= @host.fqdn %>
</p>

<p>
  <b>Dc:</b>
  <%= @host.dc %>
</p>

<p>
  <b>Serial:</b>
  <%= @host.serial %>
</p>

<p>
  <b>Make:</b>
  <%= @host.make %>
</p>

<p>
  <b>Mac:</b>
  <%= @host.mac %>
</p>

<p>
  <b>Role:</b>
  <%= @host.role %>
</p>


<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
