= semantic_form_for @ip_block, :html => {:class => 'well ip_block'} do |f|
  = f.input :base_address_str, label: '&nbsp;'
  \/
  = f.input :mask, label: '&nbsp;'
  = f.buttons do
    = f.commit_button :button_html => {:class => 'btn btn-primary'}, :label => 'Done'