%p#notice= notice

%p
  %b IP Block:
  = @ip_block.display
= show_extra_attributes(@schema, @ip_block)

.clear
= link_to ip_blocks_path, :class => 'btn' do
  %i.icon-th-list.icon-black
  All IP Blocks
= link_to edit_ip_block_path(@ip_block), :class => 'btn btn-info' do
  %i.icon-edit.icon-white
  Edit IP Block
= link_to new_ip_block_path, :class => 'btn btn-primary' do
  %i.icon-plus.icon-white
  New IP Block

.clear

- if @available_ips
  %table#unused-ips.table.table-striped.table-bordered.table-condensed
    %tr
      %th IP address
      %th Host
    - @available_ips.each do |k, v|
      %tr
        %td= k
        %td= link_to v.name, v if v

  = link_to "#{ip_block_path(@ip_block)}?count=#{@available_ips.size + 50}", :class => 'btn' do
    %i.icon-arrow-down.icon-black
    Show more
