%h1 One Ring to rule them all,
%h2 One Ring to find them,
%h2 One Ring to bring them all
%h2 and in the darkness bind them.

%hr
.span5
  %p 
    There are 
    %span.label= @hosts_count
    hosts, in
    %span.label= @racks_count
    racks, in
    %span.label= @dcs_count
    datacenters.
  %p
    There are
    %span.label= @glued_hosts_count
    glued hosts, and
    %span.label= @chefed_hosts_count
    chefed
  %p
    = link_to "Last glu sync", worklog_path(@last_glu_sync)
    was at
    = @last_glu_sync.start
    and it was
    - if @last_glu_sync.error
      %span.label.label-important with errors
    - else
      %span.label.label-success success
  %p
    = link_to "Last chef sync", worklog_path(@last_chef_sync)
    was at
    = @last_chef_sync.start
    and it was
    - if @last_chef_sync.error
      %span.label.label-important with errors
    - else
      %span.label.label-success success

.span2
  %table.table.table-striped.table-bordered.table-condensed
    %tr
      %th Glu Modules
    - @glu_modules.each do |k, v|
      %tr
        %td= k
        %td= v