= semantic_form_for @setting, :html => {:class => 'well'} do |f|
  #accordion.accordion
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#api"}
          API Configuration
      #api.accordion-body.collapse{:style => "height: 0px;"}
        .accordion-inner
          = f.input :api_ro_username
          = f.input :api_ro_password, as: :string
          = f.input :api_rw_username
          = f.input :api_rw_password, as: :string
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#glu"}
          Glu Configuration
      #glu.accordion-body.collapse{:style => "height: 0px;"}
        .accordion-inner
          = f.input :glu_enabled, as: :boolean
          = f.input :glu_user
          = f.input :glu_pass
          = f.input :glu_host_and_port
          = f.input :glu_fabric
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#chef"}
          Chef Configuration
      #chef.accordion-body.collapse{:style => "height: 0px;"}
        .accordion-inner
          = f.input :chef_enabled, as: :boolean
          = f.input :chef_server
          = f.input :chef_pem_file
  = f.buttons do
    = f.commit_button :button_html => {:class => 'btn btn-primary'}, :label => 'Done'


