%h1= "Editing #{@entity_schema.name}"

= render 'form'


= link_to entity_schemas_path, :class => 'btn' do
  %i.icon-th-list.icon-black
  All Schemas
= link_to @entity_schema, :class => 'btn btn-warning' do
  %i.icon-remove.icon-white
  Cancel
= link_to new_entity_schema_path, :class => 'btn btn-primary' do
  %i.icon-plus.icon-white
  New Schema
