%h1 Listing datacenters

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @datacenters.each do |datacenter|
    %tr
      %td= datacenter.name
      %td= link_to 'Show', datacenter
      %td= link_to 'Edit', edit_datacenter_path(datacenter)
      %td= link_to 'Destroy', datacenter, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Datacenter', new_datacenter_path
