%p#notice= notice

%p
  %b Name:
  = @datacenter.name
%p 
  %b Racks:
  %table
    %tr
      %th Index
      %th Name
      %th Hosts

    - @datacenter.physical_racks.each do |physical_rack|
      %tr
        %td= link_to physical_rack.index, physical_rack
        %td= link_to physical_rack.name, physical_rack
        %td
          %table
            %tr
              %th Name
              %th N
              %th U

            - physical_rack.physical_hosts.each do |physical_host|
              %tr
                %td= link_to physical_host.name, physical_host
                %td= physical_host.n
                %td= physical_host.u


= link_to 'Edit', edit_datacenter_path(@datacenter)
\|
= link_to 'Back', datacenters_path
