%p#notice= notice

<% for attribute in attributes -%>
%p
  %b <%= attribute.human_name %>:
  = @<%= singular_table_name %>.<%= attribute.name %>
<% end -%>

= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>)
\|
= link_to 'Back', <%= index_helper %>_path

= link_to <%= index_helper %>_path, :class => 'btn' do
  %i.icon-th-list.icon-black
  All <%= plural_table_name %>
= link_to edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), :class => 'btn btn-info' do
  %i.icon-edit.icon-white
  Edit <%= human_name %>
= link_to new_<%= singular_table_name %>_path, :class => 'btn btn-primary' do
  %i.icon-plus.icon-white
  New <%= human_name %>
