!!!
%html
  %head
    %title OneRing
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body
    = render :partial => "shared/navbar"
    .container-fluid
      .span3
        .ring
        = render :partial => "shared/devops_borat"
        = render :partial => "shared/big_data_borat"
      .span9{:style => "margin-top:10pt"}
        = yield
